@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    
}

  .headerpage {
    width: 100%;
    height: 7vh !important;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-sizing: border-box !important;
    display: flex;
    justify-content:space-between; 
    padding:20px 70px;
    background: linear-gradient(0deg, rgba(22,71,115,1) 0%, rgba(43,68,140,1) 100%);
    color: #fff;
}

@media screen and (max-width: 968px) {
    
    .headerpage{
        height: auto;
        padding: 10px 40px 10px 10px;
    }
}

