/* importar la fuente lexend deca */

*{
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: content-box !important;
}

:root {
    --content-bg-color: rgb(22,71,115);
    --content-texfont-color-2: #FFD00D;

}

.contenido{
    width:100%;
    min-height:100vh;
    display: flex;   
}
.lef-section{
    width: 38%;
    height: 100vh;
    position: sticky;
    top: 0;
    background: rgb(22,71,115);
    background: linear-gradient(0deg, rgba(22,71,115,1) 0%, rgba(43,68,140,1) 100%);
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}
.top{
    width: 100%;
    height: 20%;
    display: flex;
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 60px 0 20px;
    color: #fff !important;
}
.top h2{
    color: var(--content-texfont-color-2);
}
.medio{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box !important;
    padding: 60px;
    color : #fff;
    text-align: center;
    z-index: 100;
    
}
.medio p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(203, 203, 203);
    margin-bottom: 20px;
}
.bottom{
    width: 100%;
    height: 20%;
    color: #fff;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box !important;
    padding: 20px 60px 0 20px;
}


.right-section{
    width: 62%;
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario-container{
    padding: 50px;
    border-radius: 10px;
    max-width: 500px;
    width: 70%;
    padding: 10px;
    padding: 50px 30px;

    background-color: #fff;
    
}
.btn-enviar{
    background-color: var(--content-bg-color) !important;
    
    padding: 20px 10px;
    color: #fff !important;
}
.btn-enviar:hover{
    background-color: var(--content-texfont-color-2) !important;
    color: #fff !important;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.title h4{
    
/* What our customers say */


    height: 50px;


    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* or 125% */

    display: flex;
    align-items: center;

    color: var(--content-bg-color);
}
.form-group{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.input-enviar{
    padding: 10px 10px;
    border-radius: 2px;
    border: none;
    border: 1px solid #ccc;
    outline: none;
}

.input-enviar:focus{
    border: 2px solid var(--content-bg-color);
}

/* burbujas */
.burbuja{
    border-radius: 50%;
    background: #2596ff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3ms;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 968px) {
    .contenido{
        flex-direction: column-reverse !important;
        height: auto;
    }
    .lef-section{
        display: none;
    }
    .medio p {
        font-size: calc(1rem + 0.5vw);
    }
    .right-section{
        width: 100%;
        height: 100vh;
    }
    .formulario-container{
        width: 100%;
        box-sizing: border-box !important;
        padding: 20px;
    }
}
